<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/defaultTemplate}" id="tooLong">
    <body>
        <div layout:fragment="content">
            <h1 align="center">Admin Page</h1>

            <!-- IF (logged in as admin) -->
            <div th:if = "${isAdmin}">
                <!-- VIEWING PRODUCTS -->
                <h2 align="center">Our Products:</h2>
                <table align="center" style="width:50%">
                    <thead>
                        <tr>
                            <th style="text-align:center"></th>
                            <th style="text-align:center">ID</th>
                            <th style="text-align:center">Name</th>
                            <th style="text-align:center">Price</th>
                            <th style="text-align:center">Description</th>
                            <th style="text-align:center">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${#lists.isEmpty(productList)}">
                            <td style="text-align: center" colspan="4"> No Products Available </td>
                        </tr>
                        <tr th:each="product : ${productList}">
                        <form th:action="@{/admin/updateProduct}" th:object="${product}" method="post" style="background-color:transparent; box-shadow: none;">
                            <td style="text-align:center"><button type="submit" id="form-button">Update</button></td>

                            <!-- The input is "invisible" so that the admin cannot change the id & the id is displayed below -->
                            <input type="number" name="id" th:value="*{id}" hidden="true"/>
                            <td style="text-align:center"><div th:text="*{id}" id="id-style"></div></td>

                            <td style="text-align:center"><input type="text" name="name" th:value="*{name}"/></td>
                            <td style="text-align:center"><input type="number" name="price" th:value="*{price}" required step="0.01"/></td>
                            <td style="text-align:center"><input type="text" name="description" th:value="*{description}"/></td>
                            <td style="text-align:center"><input type="text" name="quantity" th:value="*{quantity}"/></td>
                        </form> <!-- FORM FOR UPDATE -->
                            <td style="text-align:center"><form th:action="@{/admin/deleteProduct/{id}(id=${product.id})}" method="post" style="background-color:transparent; box-shadow: none; padding:0">
                                <button type="submit" id="form-button">Delete</button></form>
                            </td> <!-- FORM FOR DELETE -->
                        </tr>
                    </tbody>
                </table>
                
                <!-- TODO: Add errors -->
                <!-- TODO: Stop the Add Product Section from showing the updated item -->
                <br>

                <!-- ADDING PRODUCTS -->
                <h2 align="center">Add Product:</h2>
                <div class="form-container">
                    <form th:action="@{/admin/createProduct}" th:object="${product}" method="post">
                        <table>
                            <tr>
                                <td>Product Name:</td>
                                <td><input type="text" th:field="*{name}" placeholder="Enter product name" required /></td>
                                <td><h5 style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></h5></td>
                            </tr>
                            <tr>
                                <td>Price:</td>
                                <td><input type="number" th:field="*{price}" placeholder="Enter price" required step="0.01"/></td>
                                <td><h5 style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></h5></td>
                            </tr>
                            <tr>
                                <td>Description:</td>
                                <td><textarea th:field="*{description}" placeholder="Enter product description"></textarea></td>
                            </tr>
                            <tr>
                                <td>Product Quantity:</td>
                                <td><input th:field="*{quantity}" placeholder="Enter product quantity" required /></td>
                                <td><h5 style="color:red" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></h5></td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="submit">Create Product</button>
                                </td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>

            <!-- ELSE (Not logged in as admin)-->
            <div th:unless = "${isAdmin}">
                <p align="center">You have not logged into an admin account, please login as one to view this page. Click 
                    <a href="/login">here</a> to visit the login page.
                </p>
            </div>
        
        </div>
    </body>
</html>
