<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layouts/defaultTemplate}">
<body>
    <div layout:fragment="content">
        <h2 align="center">Login</h2>
        <div class="form-container">
            <form th:action="@{/doLogin}" th:object="${loginModel}" method="post">
                <table>
                    <tr>
                        <td>User Name:</td>
                        <td><input type="text" th:field="*{username}" /></td>
                        <td><h5 style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></h5></td>
                    </tr>
                    <tr>
                        <td>Password:</td>
                        <td><input type="password" th:field="*{password}" /></td>
                        <td><h5 style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></h5></td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>
</html>
